# Build Folders
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider IDE
.idea/

# OS Files
.DS_Store
Thumbs.db

# NuGet Packages
*.nupkg
packages/

# Logs
*.log

# Generated runtime files
*.dll
*.exe
*.pdb
*.cache
